body {
    background: url("/mycss/scen2.jpg") center;
    background-size: cover;
}

h1 {
    color: black;
    font-family: Snell Roundhand, cursive;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: azure;

}

h4 {
    color: azure;
    font-family: URW Chancery L, cursive;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.statistic {
    font-family: Snell Roundhand, cursive;
    color: azure;
    font-size: small;
}